@media (max-width:768px){
    .price{
        margin-bottom: 20px;
    }
    .Materials{
        margin-bottom: 20px;
    }
    .Style{
        margin-bottom: 20px;
    }

    
    .shoes1{
       margin-left: 90px;
       margin-bottom: 90px;
    }
    .shoes2{
        margin-left: 90px;
        margin-bottom: 90px;
     }
     .shoes3{
        margin-left: 90px;
        margin-bottom: 90px;
     }
     .shoes4{
        margin-left: 90px;
        margin-bottom: 90px;
     }


     .mobile1{
        margin-left: 90px;
        margin-bottom: 90px;
     }
     .mobile2{
        margin-left: 90px;
        margin-bottom: 90px;
     }
     .mobile3{
        margin-left: 90px;
        margin-bottom: 90px;
     }
     .mobile4{
        margin-left: 90px;
        margin-bottom: 90px;
     }


     .lap1{
        margin-left: 90px;
        margin-bottom: 90px;
     }
     .lap2{
        margin-left: 90px;
        margin-bottom: 90px;
     }

     .lap3{
        margin-left: 90px;
        margin-bottom: 90px;
     }

     .lap4{
        margin-left: 90px;
        margin-bottom: 90px;
     }


     .cam1{
        margin-left: 90px;
        margin-bottom: 90px;
     }
     .cam2{
        margin-left: 90px;
        margin-bottom: 90px;
     }
     .cam3{
        margin-left: 90px;
        margin-bottom: 90px;
     }
     .cam4{
        margin-left: 90px;
        margin-bottom: 90px;
     }
     

  
     .seller{
        padding-bottom: 20px;
     }

     .bor{
        padding-top: 20px;
       
     }
}